@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
padding: 0;
margin: 0; 
box-sizing: border-box;
}
body{
font-family: 'Quicksand', sans-serif ;
}
ul {
list-style: none;
}
a {
text-decoration: none;
} 
.container {
max-width: 1100px;
margin: auto;
}

.primary-text {
  color: #FF0000;
} 
.btn {
display: inline-block;
padding: 15px 30px;
border: none;
border-radius: 15px;
}
.btn-primary {
color: #fff;
border: 1px solid #fff ;
}
.btn-primary:hover {
background: #e0ba68;
}
header {
    height: 100vh;
    background: url(images/r.jpg.jpeg) center center/cover no-repeat; 
    position: relative;
    }
#navbar {
display: flex;
position: fixed;
justify-content: space-between ;
align-items: center;
background-color: rgb(0, 0, 0);
width: 1900px;
height: 90px;

}

#navbar img {
    width: 80px;
    margin-left: 100px;
}
#navbar ul {
display: flex ;
margin-right: 100px;
}
#navbar ul li a {
padding: 15px 20px;
color : white;
font-weight: 500;
}
#navbar ul li a:hover { 
border: none;
background-color: #FF0000;
color: #fff;
border-radius: 50px;
}
header .content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 75%;
}
header .content h1{
font-size: 40px;
color: #fff;
}
header .content p{ 
margin: 20px 0 40px;
color: #fff;
}

header::before {
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.6);
}
header *{
z-index: 10;
}
#about {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center; 
background: #ffff;
}
#about .title,
#specifications .title,
#featurs .title {
text-align: center;
margin-bottom: 2rem;
}
#about h2,
#specifications h2,
#featurs h2,
#design h2{
font-size: 40px;
margin-bottom: 20px;
}

#about .about-content{
display: flex;
justify-content: space-between;
}
#about .about-content img{
width: 50%;
    height: auto;
    object-fit: contain;
}
#about .about-content p{
margin-right: 9rem;
font-weight: 500;
line-height: 1.6;
}





#specifications {
height: 100vh;
padding-top: 8rem;
display: flex;
justify-content: center;
background:#ffff ;
}
#specifications .title p {
 font-weight: 500;
    }

#specifications .specifications-items {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
gap: 75px;
}

#specifications .specifications-items img {
width: 275px;
height: 200px;
    object-fit: cover
}
#specifications .specifications-items h3 {
font-size: 25px;
margin: 20px 0;
}
#specifications .specifications-items p {
font-size: 25px;
padding: 0 25px;
font-weight: 400;
margin-bottom: 15px
}

#featurs {
    background: #fff;
    padding: 5rem 0 ;
}
#featurs .features-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
    }
#featurs .features-items .features-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    }


    #featurs .features-items .features-item img { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 45px;
    }
    #featurs .features-items .features-item h3{
color: #FF0000;
padding-bottom: 10px;
margin-bottom: 10px;
}





#design h2{
    text-align: center;
}
#design .img-design img {
    width: 300px;
    height: 210px;
    border-radius: 15px;
    margin: 15px;
    }
    #design p {
        display: flex;
        justify-content: center;
        }
        
